<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>페이지 제목</title>
    <link href="/css/layouts/styles.css" rel="stylesheet"> <!-- 통합된 CSS 파일 -->
    <script src="/js/script.js" defer></script>
</head>
<body>

<div class="container">
    <div class="sidebar">
        <div class="sidebar-header">
            <h2 class="menu-text">메인 메뉴</h2>
            <div class="hamburger-menu" onclick="toggleSidebar()">
                <img src="/images/icons/free-icon-sidebar-10758674.png" alt="Menu Small Icon" class="menu-icon">
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <img src="/images/icons/chart-histogram.png" alt="Dashboard Icon" class="menu-icon">
                    <span class="menu-text">대시보드</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link" onclick="toggleSubMenu(event)">
                    <img src="/images/icons/workflow-setting-alt.png" alt="Projects Icon" class="menu-icon">
                    <span class="menu-text">프로젝트 관리</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a href="#" class="menu-link">
                            <img src="/images/icons/search.png" alt="View Projects Icon" class="menu-icon">
                            <span class="menu-text">프로젝트 조회</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link" onclick="toggleSubMenu(event)">
                    <img src="/images/icons/web-test.png" alt="Tasks Icon" class="menu-icon">
                    <span class="menu-text">작업 관리</span>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a href="#" class="menu-link">
                            <img src="/images/icons/edit.png" alt="Add Task Icon" class="menu-icon">
                            <span class="menu-text">작업 등록</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="#" class="menu-link">
                            <img src="/images/icons/priority-importance.png" alt="Manage Task Icon" class="menu-icon">
                            <span class="menu-text">작업 관리</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="#" class="menu-link">
                            <img src="/images/icons/chart-gantt.png" alt="Gantt Chart Icon" class="menu-icon">
                            <span class="menu-text">간트 차트</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <img src="/images/icons/calendar-clock.png" alt="Calendar Icon" class="menu-icon">
                    <span class="menu-text">일정 관리</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <img src="/images/icons/settings.png" alt="Settings Icon" class="menu-icon">
                    <span class="menu-text">설정</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">
                    <img src="/images/icons/exit.png" alt="Logout Icon" class="menu-icon">
                    <span class="menu-text">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="header">
            <div class="header-left">

            </div>
            <div class="header-right">
                <a href="#">
                    <img src="/images/icons/bell.png" alt="Notification Icon" class="header-icon">
                </a>
                <a href="#">
                    <img src="/images/icons/settings.png" alt="Settings Icon" class="header-icon">
                </a>
                <div class="user-menu">
                    <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event)">
                        <img src="/images/icons/user.png" alt="User Icon" class="user-icon">
                        <span class="user-name">심재우</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="#" class="dropdown-link">개인정보 관리</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" class="dropdown-link">설정</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" class="dropdown-link">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <!-- 페이지 콘텐츠 -->

        </div>
    </div> <!-- main 닫기 -->
</div> <!-- container 닫기 -->
</body>
</html>
